.containerRightBar {
    padding-top: 55px;
    padding-right: 75px !important;
    width: 400px;
    position: sticky !important;
}

@media screen and (max-width: 1400px) {
    .containerRightBar {
        padding-top: 35px;
        padding-right: 40px !important;
        width: 300px;
    }

}