.registerWrapper {
    padding: 40px 0 100px 0;
}

.registerForm {
    max-width: 445px;
    margin: 0 auto;
}

.btnInRegister {
    font-weight: 600 !important;
    height: 50px !important;
    font-size: 24px !important;
}

.btnRegister {
    background-color: var(--color-primary) !important;
}

.btnRegister:hover {
    background-color: var(--color-primary) !important;
}

.btnLogin {
    background-color: var(--color-secondary) !important;
    color: black !important;
    border: 1px solid var(--color-secondary) !important;

}

.btnLogin:hover {
    background-color: var(--color-secondary) !important;
    color: black !important;
}

.registerFormControl {
    border: 1px solid #000;
}

.checkbox {
    font-size: 14px;
    font-weight: var(--font-normal);
}

.checkbox input[type=checkbox] {
    -webkit-transform: scale(1.1);
    border: 2px solid #000;
}